:root {
    --red: rgb(218, 39, 39);
    --PA: #F78E26;
    --DI: #COED56;
}

body {
    font-family: 'Work Sans', sans-serif;
    color: #333;
    overflow-x: hidden;
}

* {
    margin: 0;
    box-sizing: border-box;
}

a:hover {
    text-decoration: none;
    cursor: pointer;
}

.header {
    margin-left: 40%;
}

.uni-projects {
    margin-left: 40%;
    padding-left: 250px;

    margin-top: 170px;
}

.footer {
    /* display: none; */
    text-align: center;
    justify-content: center;
    margin-top: 100px;
    width: 100vw;
    /* background-color: #F78E26; */
}

.header a {
    color: #333;
    font-size: 18px;

    display: block;
    /* background-color: #838383; */
    width: fit-content;
}

.info-link:has(#emoji-linktree) {
    position: relative;
    /* background-color: #F78E26; */
    width: fit-content;
    margin-top: 60px;
    margin-bottom: 100px;
    rotate: -10deg;
    left: 80px;

}

.info-link:has(#emoji-email) {
    position: relative;
    /* background-color: #F78E26; */
    width: fit-content;
    margin-top: 150px;
    margin-bottom: 100px;
    rotate: 10deg;
}

.emoji {
    width: 40px;
    top: -40px;
    left: 0;
    display: none;
    position: absolute;
    z-index: 3;

    transition: 0.2s ease;
    /* transform: translate(-50%, -130%); */
    animation: run 3s infinite;
}

#emoji-linktree {
    top: 10px;
}

@keyframes run {
    0% {
        left: 0;
        opacity: 1;
    }
    100% {
        left: 100%;
        opacity: 0;
    }
}

#linktree:hover ~ #emoji-linktree {
    display: block;
}

#email:hover ~ #emoji-email {
    display: block;
}

.header h1 {
    font-size: 38px;
    font-weight: 400;
    color: black;
    
    margin-bottom: 0;
}

.header .title span {
    font-size: 18px;
}

.header .title span:nth-child(2) {
    color: var(--red);
}

.header .aka {
    position: relative;
    margin-top: 40px;
}

.header .aka-squares {
    
    display: inline-block;
    position: relative;

    width: 100px;
    height: 100px;

    margin: -4px;
}

.header .aka-squares:nth-child(2) {
    background-color: black;
    
    margin-left: 50px;
}

.header .aka-squares:nth-child(3) {
    background-color: var(--red);

}

.header .aka span {
    font-size: 18px;
}

.header .aka-squares span {
    color: white;
    margin-left: 5px;
    position: absolute;
}

#adj {
    bottom: 5px;
}

#aka-click {
    position: absolute;
    display: block;
    text-decoration: underline;

    top: 0;
    cursor: pointer;
}

#aka-click:hover {
    text-decoration: none;
}

.uni-projects h2 {
    color: #838383;
    font-weight: 400;
    font-size: 18px;

    margin-bottom: 50px;
}

.uni-projects .term span:nth-child(1) {
    background-color: black;
    color: white;
    padding: 0 12px;

}

.uni-projects .term span:nth-child(2) {
    background-color: var(--red);
    color: black;
    font-weight: 800;
    padding: 0 4px;
}

.uni-projects .class label {
    color: #333;
    font-size: 18px;
    padding-top: 12px;
    margin-left: 10px;
    text-decoration: none;
    cursor: pointer;
}

.class {
    margin-top: 2px;
}

.uni-projects .class label:hover {
    text-decoration: underline;
}


.asm-list {
    position: relative;
    display: none;
}

input[type="checkbox"] {
    display: none;
}

.class input[type="checkbox"]:checked ~ .asm-list {
    display: block;
} 

.asm-list li {
    font-size: 15px;
    list-style-type: none;
    /* border: 1px solid #ccc; */
    max-width: fit-content;    
}

.asm-list a {
    color: #333;
    text-decoration: none;
}

.asm-list a:hover {
    text-decoration: underline;
}

.asm-list svg {
    display: none;
    position: relative;
    top: 4px;
    left: -3px;
    margin: 0;
}

.asm-list a:hover ~ svg {
    display: inline-block;
}

.asm-list a::before {
    position: relative;
    content: attr(data-grade);
    z-index: 1;

    font-size: 14px;
    font-weight: 600;
    background-color: #ccc;
    top: 0;
    /* margin-left: 40px; */
    padding: 2px 3px;

    align-items: end;
    text-align: right;

    visibility: hidden;
    display: none;

}

.asm-list a:hover::before {
    visibility: visible;
    display: inline;
}

@media screen and (max-width: 991px) {
    .header {
        margin-left: 30%;
    }

    .uni-projects {
        margin-left: 30%;
    }
} 

@media screen and (max-width: 767px) {
    .header {
        margin-left: 15%;
    }

    .uni-projects {
        margin-left: 15%;
        padding-left: 0;
        /* padding-left: 150px; */
    }
}

@media screen and (max-width: 479px) {
    .header {
        margin-left: 10%;
    }

    .uni-projects {
        margin-left: 10%;
        padding-left: 0;
    }
}
